@charset "utf-8";

/**
---------------------------
base
基本となるスタイル
---------------------------
*/
h1,
h2,
h3,
h4,
h5,
dt,
strong,
span,
p,
a {
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
