@charset "utf-8";

/**
---------------------------
footer (common)

---------------------------
*/

.footer {
	position: relative;
	width: 100%;
	bottom: 0;
	align-items: center;
	overflow: hidden;
	padding: 20px 0;
}
