@charset "utf-8";

/**
---------------------------
smoothscroll (common)

---------------------------
*/

.smooth-scroll {
	display: none;
	color: gray;
	opacity: 0.5;
	text-decoration: none;
	border-radius: 5px;
	position: fixed;
	height: 50px;
	width: 50px;

	&::before {
		content: "";
		width: 20px;
		height: 20px;
		display: block;
		border-top: solid 2px;
		border-right: solid 2px;
		transform: rotate(-45deg);
		position: absolute;
		top: 10px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}
